#d1{
    font-family: regular libre;
    margin-top: 75px;
    text-align: center;
}
body{
    background-color: black;
    color: white;
}
img{
    border: 5px solid white;
}
h1{
    text-transform: uppercase;
}