/* Don't change the existing CSS. */

.box {
  background-color: blue;
  padding: 10px;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}
#outer-box{
  background-color: rgba(106, 4, 106, 0.911);
}
.white-text{
  color: white;
}
.inner-box{
  background-color: red;
  padding: 5px;
}